# Dependencies
node_modules/
.pnp
.pnp.*

# Build outputs
.next/
out/
dist/
build/
*.tsbuildinfo

# Turbo
.turbo/

# Env
.env
.env*.local
!.env.example

# Prisma
prisma/migrations/migration_lock.toml

# Logs
*.log
npm-debug.log*

# OS / Editor
.DS_Store
.vscode/
.idea/

# Termux / Android
.termux/
